.wraper{
    @apply mx-0 md:mx-5;
}


input {
    display: none;
  }
  .modal {
    height: 400px;
    width: 400px;
    border-radius: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -200px 0 0 -200px;
    opacity: 0;
    transition: all 0.3s ease-out;
    transform: scale(0);
  }
  .modal label {
    float: right;
    margin: 10px;
    cursor: pointer;
  }
  .modal p {
    margin: 40px 20px 20px 20px;
    line-height: 25px;
  }
  input:checked ~ .modal {
    transition: all 0.3s ease-out;
    opacity: 1;
    border-radius: 5px;
    transform: scale(1);
  }

/* invisible styles */
.scrollbarStyles::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}
.scrollbarStyles::-webkit-scrollbar-track {
  @apply dark:bg-gray-800 bg-gray-200;
}
.scrollbarStyles::-webkit-scrollbar-thumb {
  @apply dark:bg-gray-900 bg-gray-100 shadow-inner;
}

/* filter styles */
.nineteen77 {
  position: relative;
  -webkit-filter: contrast(110%) brightness(110%) saturate(130%);
  filter: contrast(110%) brightness(110%) saturate(130%);
}
.nineteen77::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
  mix-blend-mode: screen;
  background: rgba(243, 106, 188, 0.3);
}

.inkwell {
  position: relative;
  -webkit-filter: contrast(110%) brightness(110%) sepia(30%) grayscale(100%);
  filter: contrast(110%) brightness(110%) sepia(30%) grayscale(100%);
}
.inkwell::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
  background: rgba(0, 0, 0, 0);
}