.wraper{
  margin-left: 0px;
  margin-right: 0px;
}

@media (min-width: 768px){
  .wraper{
    margin-left: 1.25rem;
    margin-right: 1.25rem;
  }
}

input {
  display: none;
}

.modal {
  height: 400px;
  width: 400px;
  border-radius: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -200px 0 0 -200px;
  opacity: 0;
  transition: all 0.3s ease-out;
  transform: scale(0);
}

.modal label {
  float: right;
  margin: 10px;
  cursor: pointer;
}

.modal p {
  margin: 40px 20px 20px 20px;
  line-height: 25px;
}

input:checked ~ .modal {
  transition: all 0.3s ease-out;
  opacity: 1;
  border-radius: 5px;
  transform: scale(1);
}

/* Follower */

.parent_follower{
  padding: 1rem
}

.follower_info{
  width: 100%;
  border-bottom-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgba(0, 0, 0, var(--tw-border-opacity))
}

.dark .follower_info{
  --tw-border-opacity: 1;
  border-color: rgba(255, 255, 255, var(--tw-border-opacity));
}

.follower_info{
  padding-bottom: 0.75rem;
}

.follower_inner {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  border-radius: 0.375rem;
  padding: 0.75rem
}

/* Follower End */
