

<div class="grid md:grid-cols-3 gap-4 mt-5">

    <!-- left grid  -->
    <div class="md:col-span-1 md:flex md:justify-end bgfg-1000-700 rounded-md">

        <div class="p-10">
            <img src="https://images.unsplash.com/photo-1564564321837-a57b7070ac4f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=755&q=80"
                alt="" class="h-32 w-32 object-cover rounded-full mx-auto">

            <div class="flex flex-col items-center mt-3">
                <div class="font-bold text-lg ">Mr Rahim</div>
                <hr class="mb-4 mt-4 gray-800 dark:white w-4/5">
            </div>



            <div class="pl-8 flex justify-between mb-3">
                <h3>Location:</h3>
                <h3 class="font-bold">Chittagong, kulshi</h3>

            </div>
            <div class="pl-8 flex justify-between">
                <h3>Contact:</h3>
                <div class="flex flex-col">
                    <p class="font-bold">0182483455</p>
                    <p class="font-bold">0182483455</p>
                </div>
            </div>


            <div class="flex flex-col items-center mt-3">
                <hr class="mb-4 mt-4 gray-800 dark:white w-4/5">
            </div>

            <div class="flex flex-start flex-col">
                <h3 class="mb-2 pl-8">Description:</h3>
                <p class="pl-8">Lorem ipsum dolor molestias ex repellat qui perspiciatis, tempora nam? Consequuntur
                    praesentium ipsam obcaecati omnis sunt id tempore?</p>
            </div>

        </div>

    </div>

    <!-- right grid  -->

    <div class="px-16 py-6  md:col-span-2 bgfg-1000-700 rounded-md">
        <div class="font-bold text-xl mt-2">Reviews as Consumer</div>

        <div>
            <form action="" class="mt-5">
                <input type="search" placeholder="write your opinion"
                    class="w-4/5 py-2 px-3 bgfg-200-700 border rounded-l-full border-gray-500 focus:outline-none focus:border-blue-500 focus:border-b-2">
                <button class="bg-blue-500 rounded-r-full text-white py-2 px-5 border border-blue-500 -mx-4">
                    post
                </button>
            </form>
        </div>

       <!-- comment  -->

        <div class="mt-10 mb-16">
            <div class="relative">
                <div class="flex">
                    <img src="https://images.unsplash.com/photo-1564564321837-a57b7070ac4f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=755&q=80"
                        class="h-12 w-12 object-cover rounded-full">
                    <div class="font-bold ml-4 mx-auto">
                        Sabbir <span class="ml-2 mr-1"><i class="fas fa-star text-yellow-400"></i> 5</span>
                    </div>
                </div>
            </div>

            <div class="flex flex-col absolute ml-16">
                <p>Amazing.</p>
                <p class="text-gray-400">published 9 months ago </p>
            </div>
        </div>

        <div class="mb-16">
            <div class="relative">
                <div class="flex">
                    <img src="https://images.unsplash.com/photo-1564564321837-a57b7070ac4f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=755&q=80"
                        class="h-12 w-12 object-cover rounded-full">
                    <div class="font-bold ml-4 mx-auto">
                        Sabbir <span class="ml-2 mr-1"><i class="fas fa-star text-yellow-400"></i> 5</span>
                    </div>
                </div>
            </div>

            <div class="flex flex-col absolute ml-16">
                <p>Amazing.</p>
                <p class="text-gray-400">published 9 months ago </p>
            </div>
        </div>
        <div class="mb-16">
            <div class="relative">
                <div class="flex">
                    <img src="https://images.unsplash.com/photo-1564564321837-a57b7070ac4f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=755&q=80"
                        class="h-12 w-12 object-cover rounded-full">
                    <div class="font-bold ml-4 mx-auto">
                        Sabbir <span class="ml-2 mr-1"><i class="fas fa-star text-yellow-400"></i> 5</span>
                    </div>
                </div>
            </div>

            <div class="flex flex-col absolute ml-16">
                <p>Good Experience.</p>
                <p class="text-gray-400">published 9 months ago </p>
            </div>
        </div>

        <div class="flex justify-center">
            <button class="bg-blue-500 rounded-lg text-white py-2 px-5">
                more
            </button>
        </div>
    </div>
</div>


